﻿<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Chat App</title>

	<link href="~/Content/css/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/css/login.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.1.1.js"></script>
	<script src="~/Scripts/json2.js"></script>
	<script src="~/Scripts/bootstrap.js"></script>

</head>
<body style="padding-bottom:70px;background-color:#EBEDED">
	<header>
			
	</header>
	<div>
		@RenderSection("featured", required: false)
		<section class="container">
			@RenderBody()
		</section>
	</div>
	<footer>
		<nav class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container">
				<h5 style="color:white;"></h5>
			</div>
		</nav>
	</footer>
	@RenderSection("scripts", required: false)
</body>
</html>
