﻿@{
    ViewBag.Title = "Index";
}
@if (!String.IsNullOrEmpty(Session["Token"].ToString()))
{
<div style="padding: 24px;">
	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-info" style="text-align: center">
				<strong>Simple Realtime Chat Application ...</strong>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8" style="height: 600px">
			<div class="panel panel-default" style="height: 100%;overflow-y: scroll;padding: 4px" id="contents">
			</div>
		</div>
		<div class="col-sm-4" style="height: 575px">
			<form class="form-inline" id="mform">
				<div class="form-group" style="padding-top: 8px">
					<input type="text" class="form-control" id="txt_username">
				</div>
				<div class="form-group" style="padding-top: 8px">
					<button type="button" class="btn btn-primary" id="btn_join">Join Chat</button>
				</div>
				<div class="form-group" style="padding-top: 8px">
					<button type="button" class="btn btn-primary" id="btn_exit">Exit</button>
				</div>
			</form>
			<span style="margin:4px">Active Users:</span>
			<div class="panel panel-default" style="height: 100%;overflow-y: scroll;padding: 4px" id="users">

			</div>
		</div>
	</div>
	<div class="row">
		<form id="mform2">
			<div class="col-sm-7">
				<div class="form-group" style="padding-top: 8px">
					<input type="text" class="form-control" id="txt_message">
				</div>
			</div>
			<div class="col-sm-1" style="padding-top: 8px; align-content: center">
				<button type="button" class="btn btn-primary" id="btn_send" style="width: 100%">Send</button>
			</div>
			<div class="col-sm-4">

			</div>
		</form>
    </div>
</div>



<script language="javascript" type="text/javascript">

	function setup() {
		var websocket;
		var locationURI = "ws://127.0.0.1:8081";
		var username;

		var contents = document.getElementById("contents");
		var users = document.getElementById("users");

		var message = document.getElementById("txt_message");
		var sendText = document.getElementById("btn_send");
		var btn_join = document.getElementById("btn_join");
		var btn_exit = document.getElementById("btn_exit");
		var txt_username = document.getElementById("txt_username");

		var setFormState = function (connected) {
			btn_join.disabled = connected;
			btn_exit.disabled = !connected;
			message.disabled = !connected;
			sendText.disabled = !connected;
			txt_username.disabled = connected;
		}

		setFormState(false);

		var log = function (message) {
			var pre = document.createElement("pre");
			pre.style.wordWrap = "break-word";
			pre.innerHTML = message;
			contents.appendChild(pre);
			contents.scrollTop = contents.scrollHeight;
			while (contents.childNodes.length > 25) {
				contents.removeChild(contents.firstChild);
			}
		};

		var fillUsers = function (userList) {
			while (users.childNodes.length > 0) {
				users.removeChild(users.lastChild);
			}
			userList = userList.split(',');
			for (i = 0; i < userList.length; i++) {
				var pre = document.createElement("pre");
				pre.style.wordWrap = "break-word";
				pre.innerHTML = userList[i];
				users.appendChild(pre);
				users.scrollTop = contents.scrollHeight;
			}
			while (users.childNodes.length > 25) {
				users.removeChild(users.firstChild);
			}
		};

		var addUser = function (username) {
		    var pre = document.createElement("pre");
		    pre.style.wordWrap = "break-word";
		    pre.innerHTML = username;
		    users.appendChild(pre);
		    users.scrollTop = contents.scrollHeight;
		}

		var removeUser = function (username) {
		    //users.removeChild();
		    //users.scrollTop = contents.scrollHeight;
		}
		var logResponse = function (message) {
		    
		    var style = message.userName == txt_username.value ? "style='color:blue'" : "";
		    log("<span " + style + ">" + message.userName + " : " + message.message + "</span>");
		}

		var doSendText = function () {
			try {
				var text = message.value;
				websocket.send(text);
				message.value = "";
				message.focus();
			} catch (e) {
				log("EXCEPTION: " + e);
			}
		};

		sendText.onclick = doSendText;

		var doConnect = function () {

			btn_join.disabled = true;
		    try {
                
		        websocket = new WebSocket(locationURI + "?token=" + "@Session["Token"].ToString()");

			    websocket.onopen = function (evt) {
					setFormState(true);
					message.focus();
				}

				websocket.onmessage = function (evt) {
					var data = window.JSON.parse(evt.data);

					if (data.type == "0") {
					    addUser(data.userName);
					    logResponse(data);
					}
					else if (data.type == "1") {
					    logResponse(data);
					} else if (data.type == "3") {
					    fillUsers(data.message);
					    txt_username.value = data.userName;
					}
				}

				websocket.onclose = function (evt) {
					setFormState(false);
				}

			}
			catch (e) {
				btn_join.disabled = false;
				log("EXCEPTION: " + e);
				setFormState(true);
			}
		};

	    btn_join.onclick = doConnect;

		btn_exit.onclick = function () {
			log("You Exit Public Chat.");
			websocket.close();
		};

		$('#mform').on('keypress', function (e) {
			var keyCode = e.keyCode || e.which;
			if (keyCode === 13) {
				e.preventDefault();
				if (txt_username === document.activeElement)
					doConnect();
			}
		});

		$('#mform2').on('keypress', function (e) {
			var keyCode = e.keyCode || e.which;
			if (keyCode === 13) {
				e.preventDefault();
				if (message === document.activeElement)
					doSendText();
			}
		});
		doConnect();
	}
    

	$(document).ready(function () {
	    setup();

	});
</script>
}
else
{
    Response.Redirect("~/Home/Login");
}