﻿@model ChatClient.Models.User
@{
    ViewBag.Title = "Login";
}

<div id="login_input_phone">
    <div class="container">
        <div class="row">
            <div class="Absolute-Center is-Responsive">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control" type="text" name='PhoneNo' placeholder="Phone No"  />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-def btn-block" style="color:blue">Login</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


