﻿@model ChatClient.Models.User
@{
    ViewBag.Title = "SignUp";
}

<div id="login_input_password">
    <div class="container">
        <div class="row">
            <div class="Absolute-Center is-Responsive">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
                    {
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <span class="form-control" name='PhoneNo'>@Model.PhoneNo</span>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control" type="text" name='SecurityCode' placeholder="Security Code" />
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control" type="text" name='UserName' placeholder="User Name" />
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control" type="password" name='Password' placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-def btn-block" style="color:aliceblue">Sign Up</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>